USE [master]
GO
/****** Object:  Database [OgrenciDb]    Script Date: 20.10.2022 22:20:25 ******/
CREATE DATABASE [OgrenciDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OgrenciDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OgrenciDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OgrenciDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OgrenciDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OgrenciDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OgrenciDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20.10.2022 22:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hobbies]    Script Date: 20.10.2022 22:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hobbies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hobbys] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Hobbies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[İlcelers]    Script Date: 20.10.2022 22:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[İlcelers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ilceadi] [nvarchar](max) NOT NULL,
	[sehirid] [int] NOT NULL,
 CONSTRAINT [PK_İlcelers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[İllers]    Script Date: 20.10.2022 22:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[İllers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sehiradi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_İllers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentHobbies]    Script Date: 20.10.2022 22:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentHobbies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[HobbyId] [int] NOT NULL,
 CONSTRAINT [PK_StudentHobbies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 20.10.2022 22:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Age] [nvarchar](max) NOT NULL,
	[CityId] [int] NOT NULL,
	[Grup] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 20.10.2022 22:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherStudens]    Script Date: 20.10.2022 22:20:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherStudens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[GuideTeacherId] [int] NOT NULL,
	[ClasssTeacherId] [int] NOT NULL,
 CONSTRAINT [PK_TeacherStudens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20221019183712_first', N'6.0.10')
GO
SET IDENTITY_INSERT [dbo].[Hobbies] ON 

INSERT [dbo].[Hobbies] ([Id], [Hobbys]) VALUES (1, N'asd')
SET IDENTITY_INSERT [dbo].[Hobbies] OFF
GO
SET IDENTITY_INSERT [dbo].[İlcelers] ON 

INSERT [dbo].[İlcelers] ([id], [ilceadi], [sehirid]) VALUES (1, N'ALADAĞ', 1)
INSERT [dbo].[İlcelers] ([id], [ilceadi], [sehirid]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[İlcelers] ([id], [ilceadi], [sehirid]) VALUES (3, N'ÇUKUROVA', 1)
GO
SET IDENTITY_INSERT [dbo].[İlcelers] OFF
GO
SET IDENTITY_INSERT [dbo].[İllers] ON 

INSERT [dbo].[İllers] ([id], [sehiradi]) VALUES (1, N'ADANA')
INSERT [dbo].[İllers] ([id], [sehiradi]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[İllers] ([id], [sehiradi]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[İllers] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentHobbies] ON 

INSERT [dbo].[StudentHobbies] ([Id], [StudentId], [HobbyId]) VALUES (2, 2, 1)
INSERT [dbo].[StudentHobbies] ([Id], [StudentId], [HobbyId]) VALUES (3, 1, 1)
SET IDENTITY_INSERT [dbo].[StudentHobbies] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [Name], [Surname], [Age], [CityId], [Grup]) VALUES (1, N'test', N'test', N'2', 18, N'test')
INSERT [dbo].[Students] ([Id], [Name], [Surname], [Age], [CityId], [Grup]) VALUES (2, N'test', N'test', N'2', 26, N'test')
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([Id], [Name]) VALUES (3, N'ilhan enes daniş')
INSERT [dbo].[Teachers] ([Id], [Name]) VALUES (4, N'asd')
SET IDENTITY_INSERT [dbo].[Teachers] OFF
GO
SET IDENTITY_INSERT [dbo].[TeacherStudens] ON 

INSERT [dbo].[TeacherStudens] ([Id], [StudentId], [GuideTeacherId], [ClasssTeacherId]) VALUES (2, 2, 3, 4)
INSERT [dbo].[TeacherStudens] ([Id], [StudentId], [GuideTeacherId], [ClasssTeacherId]) VALUES (3, 1, 3, 4)
SET IDENTITY_INSERT [dbo].[TeacherStudens] OFF
GO
/****** Object:  Index [IX_İlcelers_sehirid]    Script Date: 20.10.2022 22:20:26 ******/
CREATE NONCLUSTERED INDEX [IX_İlcelers_sehirid] ON [dbo].[İlcelers]
(
	[sehirid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentHobbies_HobbyId]    Script Date: 20.10.2022 22:20:26 ******/
CREATE NONCLUSTERED INDEX [IX_StudentHobbies_HobbyId] ON [dbo].[StudentHobbies]
(
	[HobbyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentHobbies_StudentId]    Script Date: 20.10.2022 22:20:26 ******/
CREATE NONCLUSTERED INDEX [IX_StudentHobbies_StudentId] ON [dbo].[StudentHobbies]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Students_CityId]    Script Date: 20.10.2022 22:20:26 ******/
CREATE NONCLUSTERED INDEX [IX_Students_CityId] ON [dbo].[Students]
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherStudens_ClasssTeacherId]    Script Date: 20.10.2022 22:20:26 ******/
CREATE NONCLUSTERED INDEX [IX_TeacherStudens_ClasssTeacherId] ON [dbo].[TeacherStudens]
(
	[ClasssTeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherStudens_GuideTeacherId]    Script Date: 20.10.2022 22:20:26 ******/
CREATE NONCLUSTERED INDEX [IX_TeacherStudens_GuideTeacherId] ON [dbo].[TeacherStudens]
(
	[GuideTeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherStudens_StudentId]    Script Date: 20.10.2022 22:20:26 ******/
CREATE NONCLUSTERED INDEX [IX_TeacherStudens_StudentId] ON [dbo].[TeacherStudens]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[İlcelers]  WITH CHECK ADD  CONSTRAINT [FK_İlcelers_İllers_sehirid] FOREIGN KEY([sehirid])
REFERENCES [dbo].[İllers] ([id])
GO
ALTER TABLE [dbo].[İlcelers] CHECK CONSTRAINT [FK_İlcelers_İllers_sehirid]
GO
ALTER TABLE [dbo].[StudentHobbies]  WITH CHECK ADD  CONSTRAINT [FK_StudentHobbies_Hobbies_HobbyId] FOREIGN KEY([HobbyId])
REFERENCES [dbo].[Hobbies] ([Id])
GO
ALTER TABLE [dbo].[StudentHobbies] CHECK CONSTRAINT [FK_StudentHobbies_Hobbies_HobbyId]
GO
ALTER TABLE [dbo].[StudentHobbies]  WITH CHECK ADD  CONSTRAINT [FK_StudentHobbies_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[StudentHobbies] CHECK CONSTRAINT [FK_StudentHobbies_Students_StudentId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_İlcelers_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[İlcelers] ([id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_İlcelers_CityId]
GO
ALTER TABLE [dbo].[TeacherStudens]  WITH CHECK ADD  CONSTRAINT [FK_TeacherStudens_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[TeacherStudens] CHECK CONSTRAINT [FK_TeacherStudens_Students_StudentId]
GO
ALTER TABLE [dbo].[TeacherStudens]  WITH CHECK ADD  CONSTRAINT [FK_TeacherStudens_Teachers_ClasssTeacherId] FOREIGN KEY([ClasssTeacherId])
REFERENCES [dbo].[Teachers] ([Id])
GO
ALTER TABLE [dbo].[TeacherStudens] CHECK CONSTRAINT [FK_TeacherStudens_Teachers_ClasssTeacherId]
GO
ALTER TABLE [dbo].[TeacherStudens]  WITH CHECK ADD  CONSTRAINT [FK_TeacherStudens_Teachers_GuideTeacherId] FOREIGN KEY([GuideTeacherId])
REFERENCES [dbo].[Teachers] ([Id])
GO
ALTER TABLE [dbo].[TeacherStudens] CHECK CONSTRAINT [FK_TeacherStudens_Teachers_GuideTeacherId]
GO
USE [master]
GO
